.slider-wrapper {
    width: 57.8vw;
    background-color: #e7e7e7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 0 auto;
}
.slider-background {
    width: 56.8vw;
    background-color: #000;
    overflow: hidden;
}
.slider-block {
    width: 146vw;
}
.slider {
    width: 97%;
    height: 70%;
    margin: 20px auto;
    display: flex;
    gap: 70px;
}
.slider img {
    width: 37%;
    height: 60vh;
}
.slider-bottom {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    gap: 30px;
}
.slider-text {
    transition: opacity 1s ease-in-out;
}
.hidden {
    opacity: 0;
}
.slider-text p {
    color: #fff;
    font-size: 1.2em;
}
.slider-controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 4px;
}
.btn-wrapper1, .btn-wrapper2, .btn-wrapper3, .btn-wrapper4 {
    width: 17px;
    height: 17px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn {
    border: 5px solid transparent;
    background-clip: padding-box;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    display: block;
    padding: 0;
    box-sizing: content-box;
    background-color: #75a7ff;
    cursor: pointer;
}
.btn:hover {
    background-color: #fff;
}
.active {
    background-color: transparent;
    border: 2px solid #75a7ff;
}
.btn.active:hover {
    background-color: transparent;
    border: 2px solid #fff
}

@media (max-width: 768px) {
    .slider-bottom {
        gap: 30px;
    }
    .slider-text p {
        font-size: 1em;
    }
    .btn {
        width: 12px;
        height: 12px;
        border-width: 3px;
    }
    
}

@media (max-width: 600px) {
    .slider-bottom {
        gap: 20px;
        flex-direction: column-reverse;
    }
    .slider-controls {
        justify-content: center;
    }
    .slider-text p {
        font-size: 0.8em;
    }
    .btn {
        width: 10px;
        height: 10px;
        border-width: 3px;
    }
    
}